.card-info-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }
  
  .card-info {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap : 5vw;
    align-items: center;
    transform: scale(0.8);
    opacity: 0;
    animation: slideIn 0.3s forwards;
  }
  
  .card-info-image {
    width: 450px;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }
  
  .card-info-details {
    text-align: center;
    max-width: 15vw;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
  }
  
  .close-btn:hover {
    color: #f00;
  }
  
  .add-button {
    margin : auto;
    margin-top: 100px;
    width: 80px;
    height : 50px;
    border-radius: 10px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }

  .add-button:hover {
    background-color: darkslategray;
  }
  @keyframes fadeIn {
    to { opacity: 1; }
  }
  
  @keyframes slideIn {
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  