.card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease;
    min-height : 64vh;
  }
  
  .card img {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .card p {
    padding: 10px;
  }
  
  .card:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.2);
  }