.editor {
    width : 50%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
}

.cards-list {
    width: 80%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
  }
  
  .cards-list-inedit {
    width: 30%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
  }

  .cards-list h2 {
    margin-bottom: 20px;
  }
  
  .cards-list input {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
  }
  
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    overflow: scroll;
  }

  .cards-grid-inedit {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    overflow: scroll;
  }

  .save-btn {
    width : 80px;
    height: 50px;
    background-color: gray;
    display: inline;
    margin-left: 40px;
    border-radius: 10px;
    padding: 10px;
  }